# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

offline-helper/target/
offline-helper/node_modules/
offline-helper/dist/
public/downloads/NAIADD-Offline-Helper-1.0.0-x64-setup.exe
